body{
    font-family: "Roboto", sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: "Exo 2", sans-serif;
}
:root{
    --main-color: rgb(255, 48, 89);
    --lightcolor: #c1c1c1;
    --bgColor: #333;
}